<footer id="colophon" class="site-footer">

  <div class="site-info">

    <a href="{{ "/kontakt/impressum/" | prepend: site.baseurl}}">Impressum</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{ "/kontakt/" | prepend: site.baseurl}}">Kontakt</a>&nbsp;&nbsp;|&nbsp;&nbsp;
    <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/de/"><img alt="Creative Commons License" style="border-width:0" src="{{ "/images/cc-by-sa-80x15.png" | prepend: site.baseurl | prepend: site.url }}" /></a>

  </div>

</footer>
