<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% if site.descriptionshort %} - {{ site.descriptionshort }}{% endif %}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/genericons.css?ver=3.0.3" | prepend: site.baseurl }}" type="text/css" media="all" />
  <style type="text/css" media="all"> .panel-grid { display:flex; flex-wrap:wrap; list-style:none; } .panel-grid-cell { width:200px; margin:10px; text-align: center; }</style>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script type='text/javascript' src='{{ "/js/jquery/jquery.js?ver=1.11.3" | prepend: site.baseurl | prepend: site.url }}'></script>
</head>
