<div id="site-header">
  <a href="{{ site.url }}" rel="home">
    <img src="{{ "/images/header/header.png" | prepend: site.baseurl | prepend: site.url }}" width="1254" height="238" alt="{{ site.descriptionshort }}">
  </a>
</div>

<header id="masthead" class="site-header">

  <div class="header-main">

    <nav id="primary-navigation" class="site-navigation primary-navigation">
      <button class="menu-toggle">Primäres Menü</button>
      <a class="screen-reader-text skip-link" href="#content">Zum Inhalt springen</a>

      <div class="menu-kopfzeile-container">
        <ul id="primary-menu" class="nav-menu">
          {% assign nav_pages = (site.pages | where: 'main_menu', true | sort: 'weight') %}
          {% for p in nav_pages %}
            {% if p.title %}
              <li class="menu-item{% if p.url == page.url %} current-menu-item current_page_item{% endif %}{% if p.sub_menu %} menu-item-has-children{% endif %}"><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
              {% if p.sub_menu %}
                <ul class="sub-menu">
                {% assign sub_pages = (site.pages | where: 'top_url', p.url | sort: 'sub_weight') %}
                {% for s in sub_pages %}
                  {% if s.title != p.title %}
                  <li><a class="menu-item menu-item-type-post_type menu-item-object-page{% if s.url == page.url %} current-menu-item page_item current_page_item{% endif %}" href="{{ s.url | prepend: site.baseurl }}"> {{ s.title }} </a></li>
                  {% endif %}
                {% endfor %}
                </ul>
              {% endif %}
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>

  </div>

</header>
