<figure class="wp-caption alignnone">
  <a href="{{ include.url }}"><img class="size-full" src="{{ include.url }}" alt="{{ include.description }}"></a>
  <figcaption class="wp-caption-text">{{ include.description }}</figcaption>
</figure>
