<div id="content-sidebar" class="content-sidebar widget-area" role="complementary">
  <aside class="widget">
    <h1 class="widget-title">Nodes und Clients Online</h1>
    <p>Statistiken werden später nachgereicht.</p>
  </aside>
  <aside class="widget">
    <h1 class="widget-title">Letzte News</h1>
    {% for post in site.posts %}
    {% if forloop.first == true %}
    <h1 class="entry-title">{{ post.title }}</h1>
    <p><a href="{{ post.url | prepend: site.baseurl }}" class="more-link">Weiterlesen&nbsp;<span class="meta-nav">→</span></a></p>
    {% endif %}
    {% endfor %}
  </aside>
  <aside class="widget">
    <h1 class="widget-title">Firmware Download</h1>
    <p><a href="https://firmware.freifunk-hohenlohe.de/firmware/stable/factory/" rel="nofollow">Direktlink zum Download.</a></p>
  </aside>
</div>
