---
title: Aktuelles
layout: default_sidebar
main_menu: true
weight: 10
permalink: /aktuelles/
top_url: /aktuelles/
---
{% for post in site.posts %}
  <article class="post type-post hentry">

    <header class="entry-header">
      <h1 class="entry-title"><a href="{{ post.url | prepend: site.baseurl }}" rel="bookmark">{{ post.title }}</a></h1>
      <div class="entry-meta">
        <span class="entry-date"><time class="entry-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%-d. %b %Y" }}</time></span>
        {% if post.author %}
        <span class="byline"><span class="author vcard">{{ post.author }}</span></span>
        {% endif %}
      </div>
    </header>
    <div class="entry-content">
      <p>{{ post.excerpt }}<a href="{{ post.url | prepend: site.baseurl }}" class="more-link">Weiterlesen&nbsp;<span class="meta-nav">→</span></a></p>
    </div>
  </article>
{% endfor %}

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
