---
title: Info
layout: default_sidebar
main_menu: true
weight: 1
permalink: /
top_url: /
---
<main class="page type-page hentry">

  <div class="entry-content">
    <p>Freifunk ist eine nicht-kommerzielle Initiative für freie Funknetzwerke.<br />Freifunk Hohenlohe ist eine von vielen Communities für unsere Region.</p>

    <ul class="panel-grid">
      <li class="panel-grid-cell">
        <img src="{{ "/images/pages/wifi.png" | prepend: site.baseurl }}" alt="wifi">
        <p>Offenes und kostenloses WLAN</p>
      </li>
      <li class="panel-grid-cell">
        <img src="{{ "/images/pages/wifi.png" | prepend: site.baseurl }}" alt="wifi">
        <p>Jeder kann mitmachen</p>
      </li>
      <li class="panel-grid-cell">
        <img src="{{ "/images/pages/wifi.png" | prepend: site.baseurl }}" alt="wifi">
        <p>Dezentral und unzensiert</p>
      </li>
      <li class="panel-grid-cell">
        <img src="{{ "/images/pages/wifi.png" | prepend: site.baseurl }}" alt="wifi">
        <p>Untereinander verbunden</p>
      </li>
    </ul>

  </div>

</main>
