---
title: Karte
permalink: /karte/
top_url: /karte/
main_menu: true
weight: 30
layout: default
hide_footer: true
---
<script type="text/javascript">
$(document).ready(function() {
  if(window.location.hash) {
    $("iframe").attr("src",
      "https://karlsruhe.freifunk.net/meshviewer/" + window.location.hash);
  }
});
</script>

<iframe src="https://karlsruhe.freifunk.net/meshviewer/"
  width="100%" style="display:block; height: calc(100vh - 3.25em);width: 100%;">
</iframe>
