<!DOCTYPE html>
<html lang="de">

  {% include head.html %}

  <body class="page group-blog singular">
    <div id="page" class="site">

      {% include header.html %}

      <div id="main" class="site-main">
        <div id="main-content" class="main-content">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}

    </div>

    <script type='text/javascript' src='{{ "/js/functions.js?ver=20150315" | prepend: site.baseurl | prepend: site.url }}'></script>

  </body>

</html>

