---
layout: default_sidebar
---
<article class="page type-page hentry">

  <header class="entry-header">
    <h1 class="entry-title">{{ page.title }}</h1>
  </header>

  <div class="entry-content">
    {{ content }}
  </div>

</article>
