---
layout: default_sidebar
---
<article class="post type-post hentry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="entry-header">
    <h1 class="entry-title" itemprop="name headline">{{ page.title }}</h1>
    <div class="entry-meta">
      <span class="entry-date"><time class="entry-date" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-d. %b %Y" }}</time></span>
      {% if page.author %}
      <span class="byline"><span class="author vcard">{{ page.author }}</span></span>
      {% endif %}
    </div>
  </header>

  <div class="entry-content" itemprop="articleBody">
    {{ content }}
  </div>
</article>
